@import "~bootstrap/scss/bootstrap";
@import "./partials/variable";
@import url("https://fonts.cdnfonts.com/css/circular-std");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Circular Std", sans-serif;
}

// SPONSOR PAGE
#sponsor-page {
    .my_sponsorcard {
        background-color: $pink-bnb;
        color: white;
        border: none;

        .my_sponsortitle{
            color: $pink-bnb;
            border: none;
        }

        button:hover{
            color: $pink-bnb;
        }
    }
}

.my_mainmargin {
    margin-bottom: 100px;
}

.my_justify {
    text-align: justify !important;
}

.my_servicesli {
    list-style: none;
}

.my_servicesli::before {
    content: "\25E6";
    color: #ff385c;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

footer a {
    color: #ff385c;
    text-decoration: none;
}

.offcanvas a {
    color: $dark-bnb;
    text-decoration: none;
}

th {
    text-transform: capitalize;
}

.my_jumbotron {
    background: linear-gradient(
            0deg,
            rgba(116, 34, 34, 0.7),
            rgba(255, 255, 255, 0.3)
        ),
        url("https://images.unsplash.com/photo-1679542485908-26d7e792ed02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
    background-position: center;
    background-size: cover;
}

.airbnblogosm {
    height: 100px;
    margin-bottom: 20px;
    filter: brightness(300%);
}

.airbnblogo {
    height: 50px;
    filter: brightness(300%);
}

.my_header {
    background-color: $pink-bnb;
}

.my_togglerbtn {
    border: 1px solid $light-bnb;
}

.my_togglerbtnico {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.my_blocksm {
    display: flex;
}

.my_borderbtn {
    color: $pink-bnb;
    background-color: white;
    border: 1px solid $pink-bnb;
    padding: 7px 11px;
}
  
.my_borderbtn:hover {
    color: white;
    background-color: $pink-bnb;
    border: 1px solid $pink-bnb;
}

.my_solidbtn {
    color: white;
    background-color: $pink-bnb;
    border: 1px solid $pink-bnb;
    padding: 7px 11px;
}
  
.my_solidbtn:hover {
    color: $pink-bnb;
    background-color: white;
    border: 1px solid $pink-bnb;
}

.my_pinktext{
    color: $pink-bnb;
}

@media screen and (max-width: 992px) {
    .my_aptmd {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .my_aptmd {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .airbnblogo {
        margin: 0 auto;
    }

    .my_aptsm {
        display: none;
    }
}
